@charset "UTF-8";

/* header start */
.l-header {
  width: 100%;
}
/* header end */

/* main start */
main {
  width: 100%;
}

/* .fade {
  animation-delay: 1s;
} */

.mb-dp-none {
  display: none;
}

.flex-container {
  display: flex;
}

.u-red {
  color: #a52a2a;
}

.u-orange {
  color: #d88900;
}

/* main end */

/* footer start */
.l-footer {
  width: 100%;
  color: #fff;
  padding-bottom: 100px;
}

/* footer end */

@media screen and (min-width: 768px) {
  .mb-dp-none {
    display: block;
  }

  .pc-dp-none {
    display: none;
  }

  .pc-flex-container {
    display: flex;
  }
}
