@charset "UTF-8";

.l-header {
  width: 100%;
}

main {
  width: 100%;
}

.footer {
  width: 100%;
}

.mb-dp-none {
  display: none;
}

.flex-container {
  display: flex;
}

.flex-container-sep {
  justify-content: space-between;
}

.icon-tel,
.icon-reserve {
  position: fixed;
}

.icon-tel {
  bottom: 0;
  left: 0;
}

.icon-reserve {
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .mb-dp-none {
    display: block;
  }

  .pc-dp-none {
    display: none;
  }

  h1 {
    color: blue;
  }
}
