@charset "UTF-8";

.drawer-hamburger {
  padding-top: 18px;
  padding-right: 18px;
  position: fixed;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon::before,
.drawer-hamburger-icon::after {
  height: 3px;
  background-color: #fff;
}

.drawer-nav {
  background-image: url(../images/img-background.jpg);
}

.drawer-nav img {
  width: 70%;
  margin: 20% 15% 0;
}

.drawer-menu {
  height: 100vh;
  padding: 10% 10%;
  text-align: center;
}

.drawer-menu li {
  margin-top: 5%;
}

.drawer-menu a {
  color: #fff;
}

.drawer-menu a:visited {
  color: #fff;
}

h1 {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 1.5rem;
  color: #fff;
}

.eyecatch-theme {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
}

.eyecatch-area > figure > img {
  /* object-fit: contain; */
  width: 100%;
  height: auto;
}

.concept-top {
  width: 90%;
  margin: 0 auto;
}

.concept-description {
  width: 85%;
  margin: 0 auto;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h1 {
    color: blue;
  }
}
