@charset "UTF-8";

/* wrap01 start */
.wrap-background {
  width: 100%;
  position: relative;
  background-image: url(../images/mb-img-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* breadcrumb start */
.breadcrumb {
  padding: 2% 0 0 3%;
}
/* breadcrumb end */

.concept-bg-icon {
  position: absolute;
}

.alcohol-icon {
  width: 100px;
  top: 10rem;
  left: 0;
}

.vegetables-icon {
  width: 150px;
  top: 0;
  right: 0;
}

/* concept start */
.concept-title {
  width: 95%;
  margin: 10% auto 0;
}

.concept-description {
  width: 85%;
  margin: 10% auto 0;
  font-size: 1.6rem;
}

.concept-description p {
  line-height: 1.875;
}

.more-btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.more-btn figure img {
  vertical-align: top;
}
/* concept end */

/* introduce start */
.introduce-box01,
.introduce-box02 {
  position: relative;
}

/* .introduce-box01 {
  padding-bottom: 20%;
} */

/* .introduce-box02 {
  margin-top: 15%;
  padding-bottom: 20%;
} */

/* .absolute-box {
  position: absolute;
  top: 60%;
} */

.introduce-title {
  position: relative;
  top: -7.5rem;
  margin-bottom: 8%;
  font-size: 24px;
}

.introduce-description {
  position: relative;
  top: -7.5rem;
  font-size: 1.6rem;
  line-height: 1.875;
}

/* .introduce-title::before {
  position: absolute;
  content: "";
  top: -2.1em;
  left: 0;
  height: 34%;
  width: 29%;
  background: url(../images/img-title-before-slash.png);
  background-repeat: no-repeat;
} */

.f-size {
  font-size: 4rem;
}

/* 幅85%にする */
.padding-75 {
  padding: 0 7.5%;
}

.img-introduce02 {
  position: absolute;
  top: -8%;
  left: 45%;
  width: 50%;
}

.img-introduce03 {
  position: relative;
  width: 65%;
  margin-left: 7.5%;
}

.after-relative::after {
  content: "";
  position: relative;
}

.img-introduce-bg01 {
  position: absolute;
  width: 50%;
  bottom: 14%;
  right: -7%;
}

.img-introduce-bg02 {
  position: absolute;
  width: 60%;
  bottom: -5%;
  left: -5%;
}
/* introduce end */
/* wrap01 end */

/* wrap02 start */

.wrap02 {
  color: #fff;
  min-height: 350px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 180% auto;
  background-image: url(../images/img-parallax.jpg);
}

/* transform skew */

/* .introduce-box03 */

/* wrap02 end */

/* wrap03 start */

/* wrap03 end */

/* wrap04 start */

/* wrap04 end */

/* wrap05 start */

/* wrap05 end */

/* wrap06 start */
/* swiper start */
.swiper-container {
  width: 90%;
  margin: 5% auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.swiper-slide {
  padding: 5% 0 10% 0;
}

.contents-title {
  padding: 0 5% 0;
}

.contents {
  padding: 5% 5% 0;
}

.contents p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.contents figure {
  width: 70%;
  margin: 10% auto 0;
}

.swiper-container .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  background: #fff;
}

.swiper-container .swiper-pagination-bullet-active {
  color: #fff;
  background: #e59a0a;
}
/* swiper end */
/* wrap06 end */

/* wrap07 start */

/* wrap07 end */

/* wrap08 start */

/* wrap08 end */
@media screen and (min-width: 768px) {
  /* wrap01 start */
  /* wrap01 end */

  /* wrap02 start */
  .wrap02 {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* wrap02 end */

  /* wrap03 start */
  /* wrap03 end */

  /* wrap04 start */
  /* wrap04 end */

  /* wrap05 start */
  /* wrap05 end */

  /* wrap06 start */
  /* wrap06 end */

  /* wrap07 start */
  /* wrap07 end */

  /* wrap08 start */
  /* wrap08 end */
}
