@charset "UTF-8";

html {
  font-size: 62.5%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

img {
  width: 100%;
}
